:root {
  /* Font sizes */
  --font-size-lg: 1.5rem; /* Large */
  --font-size-md: 1.2rem; /* Medium */
  --font-size-sm: 1rem; /* Small */

  /* Spacing */
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;

  /* Breakpoints */
  --breakpoint-md: 48em; /* 768px equivalent */
}

/* Base styles */
body, h1, h2, h3, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-sm);
}

/* Set base font size for responsive text scaling */
html {
  overflow-y: scroll;
  font-size: 16px;
}
